:root{
  --bg: #f5f5f5;
  --card-bg: #ffffff;
  --text: #3d3d3d;
  --primary: #c67440;
  --primary-dark: #b56535;
  --input-border: #e0e0e0;
  --shadow: rgba(0,0,0,0.1);

  /* Semântica */
  --success-bg: #d4edda;
  --success-text: #155724;
  --success-border: #c3e6cb;

  --error-bg: #f8d7da;
  --error-text: #721c24;
  --error-border: #f5c6cb;

  --info-bg: #d1ecf1;
  --info-text: #0c5460;
  --info-border: #bee5eb;

  --warning-bg: #fff3cd;
  --warning-text: #856404;
  --warning-border: #ffeeba;

  /* Paleta para gráficos */
  --chart-color-1: #c67440;
  --chart-color-2: #31708f;
  --chart-color-3: #4C7244;
  --chart-color-4: #E0A458;
  --chart-color-5: #6D6D6D;
  --chart-color-6: #b56535;
}
