@import url('/static/css/buttons.css');
@import url('/static/css/colors.css');
@import url('/static/css/root.css');

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

.site-header {
    background-color: var(--white);
    border-bottom: 1px solid var(--input-border);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-horizontal {
  max-height: 40px;
  margin-right: 1rem;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-grow: 1;
}

.header-nav a {
    font-family: inherit;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    border-radius: 4px;
}

.header-nav a:hover {
    background-color: var(--input-border);
    color: var(--primary);
}