{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Volume de Operações</h1>

<div class="table-card">
    <canvas id="volumeChart" width="800" height="320"></canvas>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script type="module">
    import VolumeChart from "{{ url_for('static', filename='js/dashboard.js') }}";
    import dateUtils from "{{ url_for('static', filename='js/utils/dateUtils.js') }}";

    document.addEventListener('DOMContentLoaded', () => {
        const volumeChart = new VolumeChart(dateUtils);
        volumeChart.init();
    });
</script>
{% endblock %}
